output/**
__pycache__/**
.vscode/**
**/__pycache__/
bseodata
bseodef.ini
cchardet-2.1.7.dist-info
cchardet-2.1.7.dist-info/**
cchardet-2.1.7.tar.gz
cchardet-2.1.7/**
cchardet-2.1.7
Pure-Python-Back-SEO/**
Pure-Python-Back-SEO
SEO/Resources/agency
