# requirements.txt

aiohttp
aiosignal
async-timeout
attrs
Babel
beautifulsoup4
bs4
chardet
flask
certifi
charset-normalizer
click
colorama
dearpygui
docxcompose
docxtpl
frozenlist
geographiclib
geopy
greenlet
idna
Jinja2
joblib
lxml
MarkupSafe
multidict
nltk
people-also-ask
Pillow
playwright
pyee
pyoxidizer
python-docx
readability
regex
requests
six
soupsieve
tqdm
typing_extensions
urllib3
xdialog
yarl
nltk
